.example {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.example {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.example {
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
