.box {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
  }
  
  .box:hover {
    transform: 
      translate(50px, 50px) 
      rotate(20deg) 
      scale(1.2) 
      skew(10deg, 10deg) 
  }
  